body{
    margin: 0;
    padding: 0;
    background-image: url('../foto/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.container{
    max-width: 400px;
    margin: 180px auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.418);
    backdrop-filter: blur(8px);
}
.container h1{
    color: white;
    text-align: center;
}
.konten form,
.konten p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #ffff;
}
.konten input[type="file"],
.konten textarea,
.konten label{
    width: 250px;
    padding: 10px;
    /* margin-bottom: 15px; */
    border: none;
    border-radius: 5px;
    /* box-sizing: border-box; */
}
label,input{
    color: #ccc;
}
.konten input[type="submit"]{
    border: none;
    margin: 4px 2px ;
    border-radius: 5px;
    background: #0455ce;
    padding: 10px 20px;
    /* padding: 0px; */
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 20px;
    text-decoration: none;
}
