body{
    font-family: Arial, sans-serif; 
    font-style:normal;
    
    background-color: #bfc1d3;
    padding: 20px;
    color : whitesmoke;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Membuat tinggi body menjadi 100% tinggi layar */
    background-image: url('../foto/background.jpg');
    background-size: cover; /* Background akan menutupi seluruh area */
}
.container{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.418);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
p a{
    background-color: #007bff;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}